.Card{
    min-width: 30px;
    width: auto;
    height: 40px;
    background-color: rgba(0, 157, 255, 0.32);
    border: none;
    margin: 1px;
    border-radius: 3px;
    display: flex;
    font-weight: bold;
    font-size: 14px;
}
.Card>span{
    position: relative;
    margin:auto 0;
    left: 20%;
}
.Card:hover{
    background-color: rgba(0, 0, 0, 0.65);
    font-weight: bold;
    color: white;
    transition: 0.3s;
}
.Card:target{
    background-color: crimson;
    color: black;
}