.navBar{
    position: absolute;
    float: right;
    z-index: 450;
    width: auto;
    height: auto;
    top: 3.5em;
    right: 5px;
    background-color: transparent;
    border-radius: 3px;
    font-size: 1.3em;
}
.list{
    margin: 3px;
}

.style_map{
    margin-top: 5px;
    float: left;
}
.navBarMainInstruments{
    margin: 7px;
    border-radius: 3px;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.25);
    background-color: white;
    padding: 5px;
}
.navBarSortDate{
    display: flex;
    flex-direction: column;
    margin: 7px;
    border-radius: 3px;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.25);
    background-color: white;
    padding: 5px;
}
.navBar_button{
    height: 99%;
    margin-bottom: 2em;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.05);
    color: #fdfdfe;
    background-color: #007fff;
}
.navBar_button:hover{
    background-color: #006efd;
}
.show_hide_NavBar{
    position: absolute;
    border: none;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.25);
    z-index: 400;
    top: 12px;
    right: 12px;
    border-radius: 3px;
}
.heading_sort{
    padding: 5px;
}
.navBarMainInstruments_Calendar{
    display: flex;
    margin: 8px;
    border-radius: 3px;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.25);
    background-color: white;
    padding: 5px;
    font-size: 16px;
}

.transition_enter {
    opacity: 0;
    transform: scale(0.9);
}
.transition_enter_active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}
.transition_exit {
    opacity: 1;
}
.transition_exit_active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}
.wrapper{
    margin: 3% 0;
}
.latitude{
    top: 6px;
}
.longitude{
    top: 12px;
}
.fly_to_button{
    margin: 20px auto 1em;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.05);
    color: #fdfdfe;
    background-color: #007fff;
}
.show_hide_fly_to_panel{
    margin-left: 50px;
}
.fly_to_button:hover{
    background-color: #0059ff;
}

.buttonSort{
    margin: 20em;
}

.date_time_max_div{
    margin: 5px auto;
}
.save_time{
    width: 45%;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.05);
    color: #fdfdfe;
    background-color: #007fff;
}
.save_time:hover{
    background-color: #006efd;
}
.reset_time{
    margin-left: 15px;
    width: 45%;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.05);
    color: #fdfdfe;
    background-color: #007fff;
}
.reset_time:hover{
    background-color: #006efd;
}
