.navBar{
    position: absolute;
    z-index: 450;
    width: auto;
    top: 103px;
    right: 5px;
    background-color: transparent;
    border-radius: 3px;
}

.navBarMainInstuments{
    margin: 7px;
    display: flex;
    border-radius: 3px;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.25);
    background-color: white;
    padding: 5px;
}
.navBar_button{
    min-height: 20px;
    min-width: 30px;
    margin: 5px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.25);
}
.navBar_button:hover{
    background-color: #007fff;
}
.show_hide_NavBar{
    position: absolute;
    border: none;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.25);
    z-index: 400;
    top: 63px;
    right: 12px;
    border-radius: 3px;
}

.navBarMainInstuments_Calendar{
    margin: 10px;
    border-radius: 3px;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.25);
    background-color: white;
    padding: 5px;
    font-size: 16px;
}

.transition-enter {
    opacity: 0;
    transform: scale(0.9);
}
.transition-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}
.transition-exit {
    opacity: 1;
}
.transition-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}