.navBar{
    position: absolute;
    z-index: 450;
    width: auto;
    top: 103px;
    right: 5px;
    background-color: transparent;
    border-radius: 3px;
}

.navBarMainInstuments{
    display: grid;
    position: relative;
    right: 0;
    margin: 7px;
    border-radius: 3px;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.25);
    background-color: white;
    padding: 5px;
}
.navBar_button{
    height: 99%;
    margin-bottom: 2em;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.05);
    color: #fdfdfe;
    background-color: #007fff;
}
.navBar_button:hover{
    background-color: #006efd;
}
.show_hide_NavBar{
    position: absolute;
    border: none;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.25);
    z-index: 400;
    top: 63px;
    right: 12px;
    border-radius: 3px;
}

.navBarMainInstuments_Calendar{
    display: grid;
    margin: 8px;
    max-height: 200px;
    max-width: 200px;
    border-radius: 3px;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.25);
    background-color: white;
    padding: 5px;
    font-size: 16px;
}

.transition_enter {
    opacity: 0;
    transform: scale(0.9);
}
.transition_enter_active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}
.transition_exit {
    opacity: 1;
}
.transition_exit_active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}
.wrapper{

    margin: 3% 0;
}
.latitude{
    top: 6px;
}
.longitude{
    top: 12px;
}
.fly_to_button{
    margin: 20px auto 1em;
    width: 100%;
    height: 27%;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.05);
    color: #fdfdfe;
    background-color: #007fff;
}
.show_hide_fly_to_panel{
    position: absolute;
    margin-left: 50px;
}
.fly_to_button:hover{
    background-color: #0059ff;
}

.button_sort{
    margin: 3px 0;
}
