.panel{
    background: #FFFFFF;
    width: 90%;
    height: 90%;
    position: relative;
    margin: 5% auto 0;
    box-shadow: 2px 5px 10px;
    color: #0282c9;
}
.leftBox{
    border: solid 1px #0003b6;
    float: left;
    top: 7%;
    left: 2%;
    position: absolute;
    width: 15%;
    height: 85%;
    background-color: #ffffff;
    box-shadow: 2px 5px 10px;
}

.h{
    font-size: 50px;
    width: 70%;
    margin-left: 20%;
}

.rightBox{
    line-height: 3em;
    font-size: 30px;
    width: 70%;
    margin-left: 20%;
}

.legends{
    color: black;
    line-height: 1em;
}

.Navigation{
    margin-left: 5px;
    margin-top: 5%;
    line-height: 1em;
    font-size: 24px;
}

.hrefNavigation{
    color: #0077c2;
    position: relative;
    cursor: pointer;
}
.hrefNavigation:hover{
    color: red;
    transition: 0.5s;
}
.hrefNavigation:after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.5s;
}
.hrefNavigation:hover:after{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    background-color: red;
    transition: width 0.5s;
}
.exit{
    font-size: 24px;
    position: absolute;
    bottom: 0;
    margin: 10px 5px;
}
.hrExit{
    margin: 10% -5px;
}
.hr{
    margin-left: -5px;
}


@keyframes anim {
    25% {
        transform: rotate(15deg);
    }
    50% {
        transform: rotate(-30deg);
    }
    75% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}