.Main_TimeLine{
    position: absolute;
    background-color: #fdfdfe;
    z-index: 900;
    border-radius: 3px;
    right: 60px;
    margin-left: auto;
    left: 50px;
    bottom: 20px;
    display: flex;
    width: auto;
    max-width: max-content;
    overflow: auto;
    height: auto;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.25);
    align-content: flex-end;
    padding: 4.5px;
    cursor: pointer;
}
.scrollDays{
    position: relative;
    display: flex;
    overflow: auto;
    width: auto;
    max-width: 1600px;
}
.TimeLine_button{
    width: 44px;
    height: 40px;
    position: absolute;
    border: none;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.25);
    z-index: 900;
    bottom: 23px;
    right: 10px;
    border-radius: 3px;
}
.transition_enter {
    opacity: 0;
    transform: scale(0.9);
}
.transition_enter_active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}
.transition_exit {
    opacity: 1;
}
.transition_exit_active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}
.YearMonthPicker{
    min-width: 100px;
    font-weight: bold;
    color: black;
}
.datePicker{
    padding-left: 0;
    left: 500px;
    display: flex;
    /*width: 165px;*/
    max-width: 255px;
    min-width: 190px;
}

.date_time_div{
    box-shadow: 0 0 0 2px rgba(0,0,0,0.25);
    padding: 5px;
    bottom: 80px;
    right: 60px;
    background-color: white;
    border: solid black 1px;
    border-radius: 3px;
    position: absolute;
    z-index: 900;
    max-width: max-content;
    max-height: max-content;
    width: auto;
    height: auto;
}
.switch_month{
    margin-top: 1px;
    max-height: 38px;
}
.date_time_label{
    font-size: 16px;
}

.date_time_min_div{
    margin: 5px auto;
}

.date_time_max_div{
    margin: 5px auto;
}
.reset_time{
    margin-left: 15px;
    width: 45%;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.05);
    color: #fdfdfe;
    background-color: #007fff;
}
.reset_time:hover{
    background-color: #006efd;
}
.save_time{
    width: 45%;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.05);
    color: #fdfdfe;
    background-color: #007fff;
}
.save_time:hover{
    background-color: #006efd;
}
.show_time_panel{
    width: 44px;
    height: 40px;
    position: absolute;
    border: none;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.25);
    z-index: 400;
    bottom: 6em;
    right: 9.5px;
    border-radius: 3px;
}
.hide_time_panel{
    visibility: hidden;
}
.divSlider{
    margin-left: auto;
    text-align: center;
    z-index: 900;
    position: absolute;
    bottom: 90px;
    max-width: 700px;
    min-width: 300px;
    height: 70px;
    background-color: white;
    border-radius: 5px;
    right: 460px;
    left: 100px;
    color: black;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.25);
    overflow-x: scroll;
}
.val {
    right: 1px;
    z-index: 50;
    margin: 9px 5px ;
    height: 35px;
    float: right;
    position: absolute;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05);
    color: #fdfdfe;
    background-color: #007fff;
}
.val:hover{
    background-color: #006efd;
}
.val:active{
    color: #007fff;
    background-color: #dadada;
}