.Main_TimeLine{
    position: absolute;
    background-color: #fdfdfe;
    z-index: 1000;
    border-radius: 3px;
    right: 60px;
    margin-left: auto;
    /*left: 20px;*/
    bottom: 20px;
    display: flex;
    width: auto;
    max-width: max-content;
    overflow: auto;
    height: auto;
    box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.25);
    align-content: end;
    padding: 4px;
    cursor: pointer;
}
.scrollDays{
    /*padding-left: 168px;*/
    left: 25px;
    right: 1130px;
    display: flex;
    overflow: auto;
    width: auto;
    max-width: 1600px;
}
.TimeLine_button{
    width: 44px;
    height: 40px;
    position: absolute;
    border: none;
    box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.25);
    z-index: 400;
    bottom: 23px;
    right: 10px;
    border-radius: 3px;
}
.transition-enter {
    opacity: 0;
    transform: scale(0.9);
}
.transition-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}
.transition-exit {
    opacity: 1;
}
.transition-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}
.YearMonthPicker{
    min-width: 100px;
    font-weight: bold;
    color: black;
}
.datePicker{
    padding-left: 0px;
    left: 500px;
    display: flex;
    width: 165px;
    max-width: 170px;
    min-width: 170px;
    /*inline-size: 165px;*/
    /*right: 20px;*/
}