.parent {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    left: 0;
    overflow-y: hidden;
}

.parent video{
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.parent .logo{
    z-index: 1;
    position: relative;
    text-align: center;
    color: #dc0000;
}
.block_header>h2{
    text-align: center;
    color: azure;
}

.block_restore {
    display: inline-block;
    border-radius: 10px;
    width: 300px;
    background-color: rgba(240, 248, 255, 0.39);
    position: absolute;
    top: 200px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}

.inputs_block_restore>legend{
    font-size: 19px;
    color: #000000;
    margin-bottom: 3px ;
}

.inputs_block_restore>input {
    width: 98%;
    height: 30px;
    margin-bottom: 15px;
    background-color: #2a5fa2;
    border-radius: 3px;
    border-style: none;
    color: azure;
    font-weight: bold;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
input::placeholder{
    color: rgba(212, 227, 227, 0.87);
    font-weight: bold;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.form_footer{
    position: relative;
    text-align: center;
    margin-bottom: auto;
}
.error{
    font-size: 18px;
    text-align: center;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #ff0000;
}

.restore_button{
    width:auto;
    display:block;
    font-size: 16px;
    border: #1071FF 1px solid;
    color: #000000;
    padding: 5px;
    margin: auto;
    transition: .5s;
    border-radius: 0;
}
.restore_button:hover{
    transition: .5s;
    color: #109bff;
    border: #109bff 1px solid;
    border-radius: 10px;
}
.restore_button:active{
    color: #000;
    border: #1A1A1A 1px solid;
    transition: .07s;
    background-color: #FFF;
}

.ref_signin{
    display: inline-block;
    color: #000000;
    padding:5px;
    transition:all 0.5s;
}

.ref_signin:hover{
    box-shadow:0 -5px 0 #088 inset;
    border: #008888 1px solid;
}
