@import url("~leaflet/dist/leaflet.css");

.leaflet-container {
    height: 98vh;
    width: 99vw;
}
.navBar{
    border-style: solid;
    display: flex;
    background-color: transparent;
    position: absolute;
    z-index: 400;
    width: 170px;
    top: 70px;
    right: 10px;
    height: auto;
}
.navBar:hover{
    background-color: lawngreen;
}